
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<h1>Burası yetenekler sayfası</h1>

<div class="container">
    <table class="table table-bordered">
        <thead>      
            <tr>
                <th>SkillId</th>
                <th>Title</th>
                <th>Levels</th>
                <th>Test</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>

        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>C++</td>
                <td>80</td>
                <td>null</td>
                <td><a href="/Skill/UpdateSkill" class="btn btn-success">Güncelle</a> </td>
                <td> <a href="/Skill/DeleteSkill" class="btn btn-danger">Sil</a></td>
            </tr>
        <tbody>
    </table>
</div>