@model AkademiQPortfolio.Data.ProjectsTable
@{
    ViewData["Title"] = "ProjectCreate";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>ProjectCreate</h1>

<form method="post">

    <label>Proje Adı</label>
    <input type="text" class="form-control" name="ProjectName" />

    <label>Proje Başlığı</label>
    <input type="text" class="form-control" name="Title" />

    <label>Proje Resmi</label>
    <input type="text" class="form-control" name="Image" />

    <label>Proje Kategorisi</label>
    <select class="form-control" name="CategoryId">
        @foreach (var item in ViewBag.Categories)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>

    <br />
    <button class="btn btn-primary">Kaydet</button>

</form>
