@{
    ViewData["Title"] = "Yetenekler (Skills)";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Burası yetenekler (skills) sayfası</h1>

<div class="container mt-4">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>SkillId</th>
                <th>Title</th>
                <th>Level</th>
                <th>Created Date</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>3</td>
                <td>C#</td>
                <td>80</td>
                <td>26.11.2025</td>
                <td>
                    <a asp-controller="Skill"
                       asp-action="UpdateSkill"
                       asp-route-id="3"
                       class="btn btn-success btn-sm">
                        Güncelle
                    </a>
                </td>
                <td>
                    <a asp-controller="Skill"
                       asp-action="DeleteSkill"
                       asp-route-id="3"
                       class="btn btn-danger btn-sm">
                        Sil
                    </a>
                </td>
            </tr>

            <tr>
                <td>4</td>
                <td>C</td>
                <td>70</td>
                <td>26.11.2025</td>
                <td>
                    <a asp-controller="Skill"
                       asp-action="UpdateSkill"
                       asp-route-id="4"
                       class="btn btn-success btn-sm">
                        Güncelle
                    </a>
                </td>
                <td>
                    <a asp-controller="Skill"
                       asp-action="DeleteSkill"
                       asp-route-id="4"
                       class="btn btn-danger btn-sm">
                        Sil
                    </a>
                </td>
            </tr>

            <tr>
                <td>5</td>
                <td>C++</td>
                <td>50</td>
                <td>26.11.2025</td>
                <td>
                    <a asp-controller="Skill"
                       asp-action="UpdateSkill"
                       asp-route-id="5"
                       class="btn btn-success btn-sm">
                        Güncelle
                    </a>
                </td>
                <td>
                    <a asp-controller="Skill"
                       asp-action="DeleteSkill"
                       asp-route-id="5"
                       class="btn btn-danger btn-sm">
                        Sil
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <a asp-controller="Skill"
       asp-action="CreateSkill"
       class="btn btn-secondary">
        Yeni Skill Ekle
    </a>
</div>
